<% container_id = local_assigns[:container_id] %>
<% container_class = local_assigns.fetch(:container_class, "flyer-grid") %>
<% offset = local_assigns.fetch(:offset, 0) %>
<% card_dom_id_prefix = local_assigns[:card_dom_id_prefix] %>
<% card_partial = local_assigns.fetch(:card_partial, "event_card") %>
<% wrap = local_assigns.fetch(:wrap, true) %>
<% effective_series_ids = local_assigns[:effective_series_ids] || effective_public_event_series_ids(events) %>

<% if wrap && container_id.present? %>
  <div id="<%= container_id %>" class="<%= container_class %>">
<% elsif wrap %>
  <div class="<%= container_class %>">
<% end %>
  <% events.each_with_index do |event, index| %>
    <% absolute_index = offset + index %>
    <% tile_variant = effective_public_grid_variant_for(event, absolute_index) %>
    <% card_slot = card_slot_for_grid_variant(tile_variant) %>
    <% card_dom_id = card_dom_id_prefix.present? ? dom_id(event, card_dom_id_prefix) : nil %>
    <% if card_partial == "event_card" %>
      <%= render "event_card",
                 event: event,
                 browse_state: browse_state,
                 effective_series_ids: effective_series_ids,
                 tile_variant: tile_variant,
                 card_slot: card_slot,
                 card_dom_id: card_dom_id %>
    <% else %>
      <%= render card_partial,
                 event: event,
                 browse_state: browse_state,
                 effective_series_ids: effective_series_ids,
                 card_dom_id: card_dom_id %>
    <% end %>
  <% end %>
<% if wrap %>
  </div>
<% end %>
